body {
	padding: 0px;
	margin: 0px;
}

.topnav {
  vertical-align: top;
  background-color: #333;
  padding: 10px;
}

.topnav button {
  white-space: nowrap;
  width: 100%;
  color: #000000;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
}

.topnav button:hover {
  background-color: #c7f3cc;
}

.topnav button.active {
  background-color: #4CAF50;
}

#innerFrame {
	width:100%;
	height: 100%;
	display: block;
	border:none;
	margin:0;
	padding:0;
}

.left_cell_of_title {
	width: 10%;
}

.separator {
	height: 10px;
	visibility: hidden;
	display: block;
	margin:0 auto;
	background: none;
	border:0 none;
}